body {
    margin:0;
    padding:0;
}

.div1 {
    float:left;
    font-size: 40px;
    width: 50%;
    height: 100%;
}

.div2 {
    float: right;
    font-size: 40px;
    width: 49%;
    height: 100%;
}

/* Responssivel à um Mobile L (425px) */
@media screen and (max-width: 768px) {

    .div1 {
        font-size: 30px;
        width:100%;
    }
    
    .div2 {
        font-size: 30px;
        width: 100%;
    }
}